<form class="search-layout" [formGroup]="validateForm" nz-form>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [hidden]="!control.show">
      <nz-form-item>
        <nz-form-label [nzSpan]="2">{{control.name}}</nz-form-label>
        <nz-form-control [nzSpan]="22">
          <input nz-input [formControlName]="control.id">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" style="text-align: right" [hidden]=isCollapse>
    </div>
    <div nz-col [nzSpan]="8" style="text-align: right">
      <button nz-col nz-button nzType="primary" (click)="query(page,limit)"><span nz-icon nzType="search"></span>查询
      </button>
      <button style="margin-left: 15px" nz-col nz-button (click)="reset()"><span nz-icon nzType="close-circle"></span>重置
      </button>
      <a style="margin-left: 8px" (click)="toggleCollapse()">
        展开
        <span nz-icon [nzType]="isCollapse ? 'down' : 'up'"></span>
      </a>
    </div>
  </div>
</form>
<div class="button-layout">
  <button nz-button nzType="primary" (click)="add()"><span nz-icon nzType="plus"></span>新增</button>
</div>
<nz-card>
  <nz-table nzShowSizeChanger
            [nzData]="dataList"
            [nzTotal]="total"
            [nzPageSize]="limit"
            [nzPageIndex]="page"
            [nzFrontPagination]="false"
            (nzQueryParams)="query(page,limit)">
    <thead>
    <tr>
      <th>服务名</th>
      <th>判定器</th>
      <th>过滤器</th>
      <th>路径</th>
      <th>优先级</th>
      <th>状态</th>
      <th>说明</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataList">
      <td>{{ data.id }}</td>
      <td>{{ data.predicates}}</td>
      <td>{{ data.filters }}</td>
      <td>{{ data.uri }}</td>
      <td>{{ data.orders }}</td>
      <td>{{ data.statusRemark }}</td>
      <td>{{ data.description }}</td>
      <td>
        <a (click)="edit(data)">修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(data.id)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
