.nz-table {
  background: #fff;
}

.button-layout {
  height: 64px;
  background: #fff;
  padding: 16px 16px 16px 24px;
}

.search-layout {
  margin-bottom: 10px;
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
  background: #fff;
}
