<div class="container">
  <div class="lang">
  </div>
  <div class="content-layout">
    <div class="head">
      <img class="logo" src="./assets/logo-color.svg" alt=""/>
      <span class="title">Ant Design</span>
    </div>
  </div>
  <div class="login-form-wrap">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入用户名">
              <nz-input-group [nzSize]="'large'" nzPrefixIcon="user">
                <input [placeholder]="'用户名'" type="text" nz-input formControlName="username"
                       placeholder="用户名"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入密码">
              <nz-input-group [nzSize]="'large'" nzPrefixIcon="lock">
                <input autocomplete="on" [placeholder]="'密码'" type="password" nz-input
                       formControlName="password" placeholder="密码"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
      <button nz-button nzSize="large" class="login-form-button login-form-margin" [nzType]="'primary'" (click)="submitForm()">登 录</button>
    </form>
  </div>

</div>
