.app-layout {
  min-height: 100vh;
}

.menu-sidebar-placeholder {
  position: relative;
}


.menu-sidebar {
  position: fixed;
  overflow: auto;
  height: 100%;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.header-trigger {
  transition: all .3s, padding 0s, color .3s;
  font-size: 20px;
  line-height: 48px;
  cursor: pointer;
  z-index: 10;
  padding: 0 24px 8px;
}

.header-user {
  cursor: pointer;
  padding: 0 12px;
  margin-right: 10px;
  display: inline-block;
  transition: all .3s;
  height: 100%;
  font-size: 16px;
}

.nz-avatar {
  margin-right: 10px;
  margin-bottom: 4px;
  background: #1890ff;
}


.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 48px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 48px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header-placeholder {
  position: relative;
  height: 48px;
}

.app-header {
  position: fixed;
  height: 48px;
  padding: 0;
  background: #fff;
  line-height: 48px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  right: 0;
  width: calc(100% - 256px);
  transition: width 0.2s;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.app-header-Collapsed {
  width: calc(100% - 80px);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding-bottom: 1px;
  background: #fff;
}

nz-footer {
  text-align: center;
}
